de.tudarmstadt.ukp.uby.lmf.model-asl/src/main/resources/dtd/UBY_LMF.dtd

<?xml version='1.0' encoding="UTF-8"?>

<!--
/*******************************************************************************
 * Copyright 2013
 * Ubiquitous Knowledge Processing (UKP) Lab
 * Technische Universität Darmstadt
 * 
 * All rights reserved. The DTD is made available under a 
 * Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) license
 * which is available at http://creativecommons.org/licenses/by-sa/3.0/
 * You are free to share (copy, distribute and transmit) the work, 
 * to develop your own extensions (adapt, remix) of the work, 
 * and to make commercial use of the work 
 * under the condition that you give attribution along the following lines:
 *
 * Iryna Gurevych, Judith Eckle-Kohler, Silvana Hartmann, Michael Matuschek, Christian M. Meyer and Christian Wirth, 2012,
 * Uby - A Large-Scale Unified Lexical-Semantic Resource,
 * Proceedings of the 13th Conference of the European Chapter of the Association for Computational Linguistics (EACL 2012),
 * Avignon, France, pages 580-590.
 *
 * If you alter, transform, or build upon this work, 
 * you may distribute the resulting work only under the same or similar license to this one. 
 *
 ******************************************************************************/
-->  

                       <!--#################### Core package -->
<!ELEMENT Definition (Statement*, TextRepresentation+)>
<!ATTLIST Definition
	id 	ID #REQUIRED
	definitionType (extensionalDefinition|intensionalDefinition|partitiveDefinition|translatedDefinition) #IMPLIED
	synsetId IDREF #IMPLIED
	semanticArgumentId IDREF #IMPLIED
	semanticPredicateId IDREF #IMPLIED>
<!--
extensionalDefinition 	http://www.isocat.org/datcat/DC-171
intensionalDefinition 	http://www.isocat.org/datcat/DC-170
partitiveDefinition 	http://www.isocat.org/datcat/DC-172
translatedDefinition 	http://www.isocat.org/datcat/DC-173
--> 
<!ELEMENT GlobalInformation EMPTY>
<!ATTLIST GlobalInformation	id ID #REQUIRED
    						label CDATA #IMPLIED>
    						
<!ELEMENT LexicalEntry (Lemma, WordForm*, RelatedForm*, Sense*, SyntacticBehaviour*, ListOfComponents?, Frequency*)>
<!ATTLIST LexicalEntry	id ID #REQUIRED
    					partOfSpeech (adjective|adverb|adverbPronominal|
    								  adpositionPreposition|adpositionPostposition|adpositionCircumposition|
    								  determiner|determinerDefinite|determinerPossessive|determinerIndefinite|determinerDemonstrative|determinerInterrogative|numeral|
    								  interjection|
    								  phraseme|
    								  symbol|
    								  conjunction|conjunctionCoordinating|conjunctionSubordinating|
    								  noun|nounCommon|nounProper|nounProperFirstName|nounProperLastName|
    								  pronoun|pronounPersonal|pronounPossessive|pronounDemonstrative|pronounRelative|pronounIndefinite|
    								  pronounPersonalReflexive|pronounPersonalIrreflexive|pronounInterrogative|
    								  particle|particleNegative|particleInfinitive|particleComparative|particleAnswer|
    								  verbAuxiliary|verbModal|verbMain|verb|
    								  abbreviation|abbreviationAcronym|abbreviationInitialism|contraction|
    								  affix|affixPrefix|affixSuffix) #REQUIRED
    					separableParticle CDATA #IMPLIED
    					lexiconId IDREF #REQUIRED>  
  
<!-- 
partOfSpeech	http://www.isocat.org/datcat/DC-396

adjective	http://www.isocat.org/datcat/DC-1230
adverb	http://www.isocat.org/datcat/DC-1232
adverbPronominal http://www.isocat.org/datcat/DC-2998
adpositionPreposition 	http://www.isocat.org/datcat/DC-1366
adpositionPostposition 	http://www.isocat.org/datcat/DC-1360
adpositionCircumposition 	http://www.isocat.org/datcat/DC-1906

determiner 	http://www.isocat.org/datcat/DC-1272
determinerPossessive 	http://www.isocat.org/datcat/DC-1357
determinerIndefinite 	http://www.isocat.org/datcat/DC-1307
determinerDefinite 	http://www.isocat.org/datcat/DC-1430 	
determinerDemonstrative 	http://www.isocat.org/datcat/DC-1269
determinerInterrogative 	http://www.isocat.org/datcat/DC-1320
numeral 	http://www.isocat.org/datcat/DC-1334

interjection 	http://www.isocat.org/datcat/DC-1318
phraseme		http://www.isocat.org/datcat/DC-339
symbol			http://www.isocat.org/datcat/DC-1398

conjunction 	http://www.isocat.org/datcat/DC-3132
conjunctionCoordinating 	http://www.isocat.org/datcat/DC-1262
conjunctionSubordinating 	http://www.isocat.org/datcat/DC-1393

noun 					http://www.isocat.org/datcat/DC-3347
nounCommon 				http://www.isocat.org/datcat/DC-385
nounProper 				http://www.isocat.org/datcat/DC-1371
nounProperFirstName		http://www.isocat.org/datcat/DC-4194
nounProperLastName		http://www.isocat.org/datcat/DC-4195

pronoun 	http://www.isocat.org/datcat/DC-1370
pronounPersonal 	http://www.isocat.org/datcat/DC-3013
pronounPersonalReflexive 	http://www.isocat.org/datcat/DC-3014
pronounPersonalIrreflexive 	http://www.isocat.org/datcat/DC-3013
pronounPossessive 	http://www.isocat.org/datcat/DC-1359
pronounDemonstrative 	http://www.isocat.org/datcat/DC-1270
pronounIndefinite 	http://www.isocat.org/datcat/DC-1309
pronounRelative 	http://www.isocat.org/datcat/DC-1380
pronounInterrogative 	http://www.isocat.org/datcat/DC-1321

particle 	http://www.isocat.org/datcat/DC-3372
particleNegative 	http://www.isocat.org/datcat/DC-1894
particleInfinitive 	http://www.isocat.org/datcat/DC-1896
particleComparative 	http://www.isocat.org/datcat/DC-1922
particleAnswer 	http://www.isocat.org/datcat/DC-2891

verbAuxiliary 	http://www.isocat.org/datcat/DC-1244
verbModal 	http://www.isocat.org/datcat/DC-1329
verbMain 	http://www.isocat.org/datcat/DC-1400
verb 	http://www.isocat.org/datcat/DC-1424

abbreviation				http://www.isocat.org/datcat/DC-329
abbreviationAcronym			http://www.isocat.org/datcat/DC-334
abbreviationInitialism		http://www.isocat.org/datcat/DC-333
contraction					http://www.isocat.org/datcat/DC-354

affix						http://www.isocat.org/datcat/DC-1234
affixPrefix					http://www.isocat.org/datcat/DC-1365
affixSuffix					http://www.isocat.org/datcat/DC-1395

separableParticle 	http://www.isocat.org/datcat/DC-3546
-->            

<!ELEMENT LexicalResource (SenseAxis*|PredicateArgumentAxis*|MetaData*|Lexicon+)>
<!ATTLIST LexicalResource	id ID #REQUIRED
    						dtdVersion CDATA #IMPLIED   						
    						globalInformationId IDREF #IMPLIED>
    						   
<!ELEMENT Lexicon (LexicalEntry+|SubcategorizationFrame*|SubcategorizationFrameSet*|SemanticPredicate*|Synset*|SynSemCorrespondence*)>
 <!ATTLIST Lexicon	id ID #REQUIRED
    				lexiconName CDATA #IMPLIED
    				languageIdentifier CDATA #IMPLIED  
    				lexicalResourceId IDREF #REQUIRED>
<!--
languageIdentifier 	http://www.isocat.org/datcat/DC-279
-->    
                                

<!ELEMENT Sense (Sense|Context|PredicativeRepresentation|SenseExample
	|Definition|SenseRelation|Equivalent|MonolingualExternalRef
	|Frequency|SemanticLabel)*>
<!ATTLIST Sense
    id     ID #REQUIRED
    index  CDATA #IMPLIED
    synset               IDREF #IMPLIED
    incorporatedSemArg IDREF #IMPLIED 
    transparentMeaning (true|false) #IMPLIED
    lexicalEntryId IDREF #REQUIRED>
<!--
index 	http://www.isocat.org/datcat/DC-233
synset	http://www.isocat.org/datcat/DC-4613 	
incorporatedSemArg 	http://www.isocat.org/datcat/DC-4151
transparentMeaning 	http://www.isocat.org/datcat/DC-4390
-->       

    
<!ELEMENT Statement (TextRepresentation*)>
<!--
Statement	http://www.isocat.org/datcat/DC-382
--> 
<!ATTLIST Statement
	id     ID #REQUIRED
	definition CDATA #IMPLIED
    statementType (usageNote|encyclopedicInformation|etymology|backgroundText|externalReference) #IMPLIED>
<!--
usageNote 	http://www.isocat.org/datcat/DC-526
encyclopedicInformation 		http://www.isocat.org/datcat/DC-3705
etymology 	http://www.isocat.org/datcat/DC-221
backgroundText	http://www.isocat.org/datcat/DC-149
externalReference	http://www.isocat.org/datcat/DC-164
--> 

<!ELEMENT TextRepresentation EMPTY>
<!ATTLIST TextRepresentation
	id     ID #REQUIRED
    languageIdentifier CDATA #IMPLIED
    orthographyName CDATA #IMPLIED
    geographicalVariant CDATA #IMPLIED
    writtenText CDATA #REQUIRED
    definitionId IDREF #IMPLIED
    senseExampleId IDREF #IMPLIED
    contextId IDREF #IMPLIED>
<!--
languageIdentifier 	http://www.isocat.org/datcat/DC-279
orthographyName 	http://www.isocat.org/datcat/DC-2176
geographicalVariant 	http://www.isocat.org/datcat/DC-1851
writtenText	http://www.isocat.org/datcat/DC-1847
--> 

            <!--#################### Package for Morphology -->
<!ELEMENT Lemma (FormRepresentation+)>
<!ATTLIST Lemma
	id     ID #REQUIRED>
<!--
lemma	http://www.isocat.org/datcat/DC-286
--> 

<!ELEMENT WordForm (FormRepresentation+, Frequency*)>
<!ATTLIST WordForm
	id     ID #REQUIRED
    grammaticalNumber (singular|plural) #IMPLIED
    grammaticalGender (feminine|masculine|neuter) #IMPLIED
    case (nominative|genitive|dative|accusative) #IMPLIED
    person (first|second|third) #IMPLIED
    tense (present|past) #IMPLIED
    verbFormMood  (infinitive|infinitiveZu|participle|indicative|subjunctive|imperative|ingForm) #IMPLIED
    degree (positive|comparative|superlative) #IMPLIED
    lexicalEntryId IDREF #REQUIRED>
<!--
grammaticalNumber 		http://www.isocat.org/datcat/DC-251
singular 	http://www.isocat.org/datcat/DC-252
plural 	http://www.isocat.org/datcat/DC-253

grammaticalGender 	http://www.isocat.org/datcat/DC-3217
feminine 	http://www.isocat.org/datcat/DC-3197
masculine 	http://www.isocat.org/datcat/DC-3312
neuter 	http://www.isocat.org/datcat/DC-3336

case 	http://www.isocat.org/datcat/DC-2720
nominative 	http://www.isocat.org/datcat/DC-2721
genitive 	http://www.isocat.org/datcat/DC-2722
dative 	http://www.isocat.org/datcat/DC-2723
accusative 	http://www.isocat.org/datcat/DC-2724

person 	http://www.isocat.org/datcat/DC-3385
first 	http://www.isocat.org/datcat/DC-3198
second 	http://www.isocat.org/datcat/DC-3464
third 	http://www.isocat.org/datcat/DC-3526

tense 	http://www.isocat.org/datcat/DC-3519
present 	http://www.isocat.org/datcat/DC-3421
past 	http://www.isocat.org/datcat/DC-3378

verbFormMood 	http://www.isocat.org/datcat/DC-1427
infinitive 	http://www.isocat.org/datcat/DC-1312
infinitiveZu 	http://www.isocat.org/datcat/DC-2897
participle http://www.isocat.org/datcat/DC-3371
indicative 	http://www.isocat.org/datcat/DC-1885
subjunctive 	http://www.isocat.org/datcat/DC-1843
imperative 	http://www.isocat.org/datcat/DC-1844
ingForm http://www.isocat.org/datcat/DC-4108

degree 	http://www.isocat.org/datcat/DC-2779
positive 	http://www.isocat.org/datcat/DC-2780
comparative 	http://www.isocat.org/datcat/DC-2781
superlative 	http://www.isocat.org/datcat/DC-2782
--> 

<!ELEMENT FormRepresentation EMPTY>
<!ATTLIST FormRepresentation
    languageIdentifier CDATA #IMPLIED
    writtenForm CDATA #IMPLIED
    phoneticForm CDATA #IMPLIED
    sound CDATA #IMPLIED
    geographicalVariant CDATA #IMPLIED
    hyphenation CDATA #IMPLIED
    orthographyName CDATA #IMPLIED
    relatedFormId IDREF #REQUIRED
    lemmaId IDREF #REQUIRED>
<!--
languageIdentifier 	http://www.isocat.org/datcat/DC-279
writtenForm 	http://www.isocat.org/datcat/DC-1836
phoneticForm 	http://www.isocat.org/datcat/DC-1837
sound 	http://www.isocat.org/datcat/DC-2250
geographicalVariant 	http://www.isocat.org/datcat/DC-1851
hyphenation 	http://www.isocat.org/datcat/DC-264
orthographyName 	http://www.isocat.org/datcat/
--> 

<!ELEMENT RelatedForm (FormRepresentation*)>
<!ATTLIST RelatedForm
	id ID #REQUIRED 
    targetLexicalEntryId      IDREF #REQUIRED
    targetSense IDREF #IMPLIED
    relType (etymology|compound|compoundRoot|derivative|derivationBase|derivationBaseNoun|derivationBaseVerb|derivationBaseAdj|derivationBaseVerbAdj|loanWord|supports) #IMPLIED>
<!--
etymology http://www.isocat.org/datcat/DC-221
compound 	http://www.isocat.org/datcat/DC-3127
compoundRoot 	http://www.isocat.org/datcat/DC-357
derivative	http://www.isocat.org/datcat/DC-4611
derivationBase	http://www.isocat.org/datcat/DC-4612
derivationBaseNoun	http://www.isocat.org/datcat/DC-4615
derivationBaseVerb	http://www.isocat.org/datcat/DC-4614
derivationBaseAdj	http://www.isocat.org/datcat/DC-4616
loanWord 	http://www.isocat.org/datcat/DC-511
supports	http://www.isocat.org/datcat/DC-3003
--> 
            
<!ELEMENT ListOfComponents (Component+)>
<!ATTLIST Equivalent
	id ID #REQUIRED>
	
<!ELEMENT Component EMPTY>
<!ATTLIST Component
	id ID #REQUIRED    
    isHead (yes|no) #IMPLIED
    position CDATA #IMPLIED
    isBreakBefore (yes|no) #IMPLIED
    targetLexicalEntry IDREF #REQUIRED
    componentsId IDREF #REQUIRED>
<!--
isHead	http://www.isocat.org/datcat/DC-4617
position	http://www.isocat.org/datcat/DC-2237
isBreakBefore	http://www.isocat.org/datcat/DC-4626
--> 
        
             <!--#################### Package for MRD -->
<!ELEMENT Context (TextRepresentation*, MonolingualExternalRef*)>
<!ATTLIST Context
    contextType (corpusEvidence|citation) #IMPLIED
    source  CDATA #IMPLIED>
<!--
corpusEvidence 	http://www.isocat.org/datcat/DC-3092
citation 	http://www.isocat.org/datcat/DC-3111

source 	http://www.isocat.org/datcat/DC-471
--> 
    
<!ELEMENT Equivalent EMPTY>
<!ATTLIST Equivalent
	id ID #REQUIRED
    languageIdentifier CDATA #IMPLIED
    writtenForm CDATA #IMPLIED
    transliteration CDATA #IMPLIED
    usage CDATA #IMPLIED
    senseId IDREF #IMPLIED>    
<!--
languageIdentifier  http://www.isocat.org/datcat/DC-279
writtenForm         http://www.isocat.org/datcat/DC-1836
geographicalVariant http://www.isocat.org/datcat/DC-1851
orthographyName     http://www.isocat.org/datcat/DC-2176
transliteration     http://www.isocat.org/datcat/DC-1848
usage               http://www.isocat.org/datcat/DC-3764
--> 

            <!--#################### Package for Syntax -->
<!ELEMENT SyntacticBehaviour EMPTY>
<!ATTLIST SyntacticBehaviour
    id					ID #REQUIRED
    senseId				IDREF #IMPLIED
    subcategorizationFrame	IDREF #IMPLIED
    subcategorizationFrameSet	IDREF #IMPLIED>
<!--
subcategorizationFrameSet	http://www.isocat.org/datcat/DC-4620
--> 
    
    
<!ELEMENT SubcategorizationFrame (LexemeProperty?, SyntacticArgument*, Frequency*)> 
<!ATTLIST SubcategorizationFrame
    id               ID #REQUIRED
    parentSubcatFrame IDREF #IMPLIED
    id               IDREF #REQUIRED
    subcatLabel CDATA #IMPLIED>
<!--
subcatLabel	http://www.isocat.org/datcat/DC-1857
--> 
    
<!ELEMENT LexemeProperty EMPTY>
<!ATTLIST LexemeProperty
    auxiliary (haben|sein) #IMPLIED
    syntacticProperty (subjectControl|objectControl|subjectRaising|objectRaising|
    nonPredicativeAdjective|predicativeAdjective|postpositiveAdjective) #IMPLIED
    subcategorizationFrameId IDREF #REQUIRED>
<!--
auxiliary	http://www.isocat.org/datcat/DC-1244
haben 	http://www.isocat.org/datcat/DC-1299
sein	http://www.isocat.org/datcat/DC-1246

subjectControl 	http://www.isocat.org/datcat/DC-4187
objectControl 	http://www.isocat.org/datcat/DC-4189
subjectRaising 	http://www.isocat.org/datcat/DC-4188
objectRaising 	http://www.isocat.org/datcat/DC-4190

nonPredicativeAdjective	http://www.isocat.org/datcat/DC-4618
predicativeAdjective 	http://www.isocat.org/datcat/DC-2710
postpositiveAdjective	http://www.isocat.org/datcat/DC-4619
--> 

<!ELEMENT SyntacticArgument (Frequency*)>
<!ATTLIST SyntacticArgument
    id                 ID #REQUIRED
    optional (yes|no) #IMPLIED
    grammaticalFunction (subject|subjectComplement|directObject|objectComplement|complement|
         adverbialComplement|prepositionalComplement) #IMPLIED
    syntacticCategory (nounPhrase|reflexive|expletive|
         prepositionalPhrase|adverbPhrase|adjectivePhrase|
         verbPhrase|declarativeClause|subordinateClause|
         adverbPhrase_prepositionalPhrase_nounPhrase|adverbPhrase_prepositionalPhrase|
         adjectivePhrase_nounPhrase) #IMPLIED
    case (nominative|genitive|dative|accusative) #IMPLIED
    determiner (possessive|indefinite) #IMPLIED
    preposition CDATA  #IMPLIED
    prepositionType CDATA  #IMPLIED
    number (singular|plural) #IMPLIED
    lexeme CDATA  #IMPLIED
    verbForm (toInfinitive|bareInfinitive|participle|ingForm) #IMPLIED
    tense (present|past) #IMPLIED
    complementizer (thatType|whType|yesNoType) #IMPLIED
    subcategorizationFrameId IDREF #REQUIRED>
<!--
optional	http://www.isocat.org/datcat/DC-4622

grammaticalFunction 	http://www.isocat.org/datcat/DC-1296
subject 	http://www.isocat.org/datcat/DC-1391
subjectComplement	http://www.isocat.org/datcat/DC-4624
directObject 	http://www.isocat.org/datcat/DC-1274
objectComplement	http://www.isocat.org/datcat/DC-4625
complement 	http://www.isocat.org/datcat/DC-1257
adverbialComplement	http://www.isocat.org/datcat/DC-4639
prepositionalComplement	http://www.isocat.org/datcat/DC-4638

syntacticCategory 	http://www.isocat.org/datcat/DC-1506
nounPhrase 	http://www.isocat.org/datcat/DC-2256
reflexive 	http://www.isocat.org/datcat/DC-3014
expletive 	http://www.isocat.org/datcat/DC-3187
prepositionalPhrase 	http://www.isocat.org/datcat/DC-2257
adverbPhrase 	http://www.isocat.org/datcat/DC-2259
adjectivePhrase 	http://www.isocat.org/datcat/DC-2258

verbPhrase 	http://www.isocat.org/datcat/DC-2255
declarativeClause 	http://www.isocat.org/datcat/DC-2300
subordinateClause 	http://www.isocat.org/datcat/DC-3496

case 	http://www.isocat.org/datcat/DC-2720
nominative 	http://www.isocat.org/datcat/DC-2721
genitive 	http://www.isocat.org/datcat/DC-2722
dative 	http://www.isocat.org/datcat/DC-2723
accusative 	http://www.isocat.org/datcat/DC-2724

determiner 	http://www.isocat.org/datcat/DC-3159
possessive 	http://www.isocat.org/datcat/DC-1357
indefinite 	http://www.isocat.org/datcat/DC-1307

preposition 	http://www.isocat.org/datcat/DC-1366
prepositionType	http://www.isocat.org/datcat/DC-4621
lexeme 	http://www.isocat.org/datcat/DC-1325

number 		http://www.isocat.org/datcat/DC-251
singular 	http://www.isocat.org/datcat/DC-252
plural 	http://www.isocat.org/datcat/DC-253

verbForm	http://www.isocat.org/datcat/DC-1427
toInfinitive 	http://www.isocat.org/datcat/DC-4162
bareInfinitive 	http://www.isocat.org/datcat/DC-4163
participle 	http://www.isocat.org/datcat/DC-3371
ingForm 	http://www.isocat.org/datcat/DC-4108

tense 	http://www.isocat.org/datcat/DC-3519
present 	http://www.isocat.org/datcat/DC-3421
past 	http://www.isocat.org/datcat/DC-3378

complementizer 	http://www.isocat.org/datcat/DC-3124
thatType	http://www.isocat.org/datcat/DC-4623
whType 	http://www.isocat.org/datcat/DC-2296
yesNoType 	http://www.isocat.org/datcat/DC-2297
--> 

<!ELEMENT SubcategorizationFrameSet (SubcatFrameSetElement*, SynArgMap*)>
<!ATTLIST SubcategorizationFrameSet
    id               ID #REQUIRED
    name             CDATA #IMPLIED
    parentSubcatFrameSet	IDREF #IMPLIED
    lexiconId	IDREF #REQUIRED>
<!--
SubcategorizationFrameSet	http://www.isocat.org/datcat/DC-4620
--> 

<!ELEMENT SubcatFrameSetElement EMPTY>
<!ATTLIST SubcatFrameSetElement
	id               ID #REQUIRED
    element          IDREF #IMPLIED
    subcategorizationFrameSetId IDREF #REQUIRED> 

<!ELEMENT SynArgMap EMPTY>
<!ATTLIST SynArgMap
	id               ID #REQUIRED
    arg1	IDREF #REQUIRED
    arg2	IDREF #REQUIRED>

            <!--#################### Package for Semantics -->
<!ELEMENT PredicativeRepresentation EMPTY>
<!ATTLIST PredicativeRepresentation
	id               ID #REQUIRED
   predicate              IDREF #REQUIRED
   senseId             IDREF #REQUIRED>
<!--
predicate	http://www.isocat.org/datcat/DC-3415
--> 
   
<!ELEMENT SemanticPredicate (Definition+, SemanticArgument*, PredicateRelation*, Frequency*, SemanticLabel*)>
<!ATTLIST SemanticPredicate
    id                      ID #REQUIRED
    label CDATA #IMPLIED
    lexicalized (yes|no) #IMPLIED 
    perspectivalized (yes|no) #IMPLIED
    lexiconId IDREF #REQUIRED>
<!--
label	http://www.isocat.org/datcat/DC-1857
lexicalized 	http://www.isocat.org/datcat/DC-3295
perspectivalized 	http://www.isocat.org/datcat/DC-4391
--> 
     
<!ELEMENT SemanticArgument (ArgumentRelation*, Frequency*, SemanticLabel*, Definition*)>
<!ATTLIST SemanticArgument
    id                      ID #REQUIRED
    semanticRole  CDATA #IMPLIED
    isIncorporated (yes|no) #IMPLIED
    coreType (core|peripheral|coreUnexpressed|extraThematic) #IMPLIED
    semanticPredicateId  IDREF #REQUIRED>
<!--
semanticRole	http://www.isocat.org/datcat/DC-3466
isIncorporated 	http://www.isocat.org/datcat/DC-4151

coreType 	http://www.isocat.org/datcat/DC-4461
core http://www.isocat.org/datcat/DC-4462
peripheral http://www.isocat.org/datcat/DC-4463
coreUnexpressed http://www.isocat.org/datcat/DC-4464
extraThematic 	http://www.isocat.org/datcat/DC-4465
--> 

<!ELEMENT ArgumentRelation EMPTY>
<!ATTLIST ArgumentRelation
	id               ID #REQUIRED
    target      IDREF #IMPLIED
    relType    CDATA #IMPLIED
    relName  CDATA #IMPLIED
    semanticArgumentId  IDREF #REQUIRED>
<!--
target	http://www.isocat.org/datcat/DC-435
relName	http://www.isocat.org/datcat/DC-1857
relType	http://www.isocat.org/datcat/DC-1971
-->
    
<!ELEMENT SynSemCorrespondence (SynSemArgMap*)>
<!ATTLIST SynSemCorrespondence
    id              ID #REQUIRED
    lexiconId  IDREF #REQUIRED>
    
<!ELEMENT SynSemArgMap EMPTY>
<!ATTLIST SynSemArgMap
	id              ID #REQUIRED
    syntacticArgument	IDREF #REQUIRED
    semanticArgument	IDREF #REQUIRED
    synSemCorrespondenceId	IDREF #REQUIRED>
    

<!ELEMENT PredicateRelation EMPTY>
<!ATTLIST PredicateRelation
	id              ID #REQUIRED
    target         IDREF #IMPLIED
    semanticPredicateId IDREF #REQUIRED  
    relType    CDATA #IMPLIED
    relName  CDATA #IMPLIED>
<!--
target	http://www.isocat.org/datcat/DC-435
relName	http://www.isocat.org/datcat/DC-1857
relType	http://www.isocat.org/datcat/DC-1971

relevantSemanticPredicate 	http://www.isocat.org/datcat/DC-4392
--> 
    
<!ELEMENT SenseExample (TextRepresentation*)>
<!ATTLIST SenseExample
    id	ID #REQUIRED
    senseId IDREF #REQUIRED
    exampleType (subcatFrame|syntacticUsage|senseInstance|idiomaticExpression|other) #IMPLIED>
<!--
subcatFrame	http://www.isocat.org/datcat/DC-4630
syntacticUsage	http://www.isocat.org/datcat/DC-455
senseInstance 	http://www.isocat.org/datcat/DC-3778
idiomaticExpression 	http://www.isocat.org/datcat/DC-351
--> 
    
<!ELEMENT Synset (Definition*, SynsetRelation*, MonolingualExternalRef*)>
<!ATTLIST Synset
    id               ID #REQUIRED
    lexiconId IDREF #REQUIRED>
   
<!ELEMENT SynsetRelation (Frequency*)>
<!ATTLIST SynsetRelation
	id               ID #REQUIRED
	synsetId  IDREF #REQUIRED
    target      IDREF #REQUIRED
    relName CDATA #IMPLIED
    relType (taxonomic|partWhole|association|label|predicative) #IMPLIED>
<!--
target	http://www.isocat.org/datcat/DC-435
relName	http://www.isocat.org/datcat/DC-1857
relType	http://www.isocat.org/datcat/DC-1971

taxonomic 	http://www.isocat.org/datcat/DC-4039
partWhole 	http://www.isocat.org/datcat/DC-397
association 	http://www.isocat.org/datcat/DC-438
label	http://www.isocat.org/datcat/DC-1857
predicative	http://www.isocat.org/datcat/DC-3415
--> 
	
<!ELEMENT MonolingualExternalRef EMPTY>
<!ATTLIST MonolingualExternalRef
    externalSystem CDATA #REQUIRED
    externalReference CDATA #REQUIRED
    senseId      IDREF #IMPLIED
    contextId      IDREF #IMPLIED
    SynsetId      IDREF #IMPLIED
    semanticLabel      IDREF #IMPLIED>
<!--
externalSystem	http://www.isocat.org/datcat/DC-1974
externalReference	http://www.isocat.org/datcat/DC-1975
--> 

<!ELEMENT SenseRelation (FormRepresentation, Frequency*)>
<!ATTLIST SenseRelation
	id ID #REQUIRED
	senseId IDREF #REQUIRED
    target      IDREF #IMPLIED
    relName CDATA #REQUIRED
    relType  (taxonomic|partWhole|association|complementary|translation) #IMPLIED>
<!--
target	http://www.isocat.org/datcat/DC-435
relName	http://www.isocat.org/datcat/DC-1857
relType	http://www.isocat.org/datcat/DC-1971

taxonomic 	http://www.isocat.org/datcat/DC-4039
partWhole 	http://www.isocat.org/datcat/DC-397
association 	http://www.isocat.org/datcat/DC-438
complementary 	http://www.isocat.org/datcat/DC-83
translation 	http://www.isocat.org/datcat/DC-4020
--> 
    
            <!--#################### Package for Multilingual notations -->    
<!ELEMENT PredicateArgumentAxis EMPTY>
<!ATTLIST PredicateArgumentAxis	predicateArgumentAxisId ID #REQUIRED
								axisType CDATA #IMPLIED
								semanticPredicateOne CDATA #IMPLIED
								semanticPredicateTwo CDATA #IMPLIED
								semanticArgumentOne CDATA #IMPLIED
								semanticArgumentTwo CDATA #IMPLIED
								lexiconOne CDATA #IMPLIED
								lexiconTwo CDATA #IMPLIED
								confidence CDATA #IMPLIED
								metaDataId CDATA #IMPLIED
								lexicalResourceId IDREF #REQUIRED													
								idx CDATA #IMPLIED>
<!ELEMENT SenseAxis (SenseAxisRelation+)>
<!ATTLIST SenseAxis	senseAxisId ID #REQUIRED
					senseAxisType CDATA #IMPLIED
					senseOneId CDATA #IMPLIED
					senseTwoId CDATA #IMPLIED
					synsetOneId CDATA #IMPLIED
					synsetTwoId CDATA #IMPLIED
					lexiconOne CDATA #IMPLIED
					lexiconTwo CDATA #IMPLIED
					metaDataId CDATA #IMPLIED
					confidence CDATA #IMPLIED
					lexicalResourceId IDREF #REQUIRED
					idx CDATA #IMPLIED>
					
<!ELEMENT SenseAxisRelation EMPTY>
<!ATTLIST SenseAxisRelation	senseAxisRelationId ID #REQUIRED
							relType CDATA #IMPLIED
							relName CDATA #IMPLIED
							target CDATA #IMPLIED
							senseAxisId IDREF #REQUIRED					
							idx CDATA #IMPLIED>
<!--
target	http://www.isocat.org/datcat/DC-435
relName	http://www.isocat.org/datcat/DC-1857
relType	http://www.isocat.org/datcat/DC-1971
-->






<!ELEMENT ConstraintSet EMPTY>

            <!--#################### Meta Classes  -->
<!ELEMENT Frequency EMPTY>
<!ATTLIST Frequency
    corpus CDATA #IMPLIED
    frequency CDATA #IMPLIED
    generator CDATA #IMPLIED
    semanticArgumentId IDREF #IMPLIED
    senseRelationId IDREF #IMPLIED
    semanticPredicateId IDREF #IMPLIED
    senseId IDREF #IMPLIED
    lexicalEntryId IDREF #IMPLIED
    wordFormId IDREF #IMPLIED
    syntacticArgumentId IDREF #IMPLIED
    subcatFrameId IDREF #IMPLIED>
<!--
corpus		http://www.isocat.org/datcat/DC-4361
frequency 	http://www.isocat.org/datcat/DC-238
generator	http://www.isocat.org/datcat/DC-2511
--> 

<!ELEMENT MetaData EMPTY>
<!ATTLIST MetaData	metaDataId ID #REQUIRED
					creationDate CDATA #IMPLIED
					creationTool CDATA #IMPLIED
					version CDATA #IMPLIED
					creationProcess IDREF #REQUIRED	
					automatic CDATA #IMPLIED
					lexicalResourceId IDREF #REQUIRED>
    
<!ELEMENT SemanticLabel (MonolingualExternalRef*)>
<!ATTLIST SemanticLabel 
    label CDATA #IMPLIED
    type CDATA #IMPLIED 
    quantification CDATA #IMPLIED
    semanticArgumentId IDREF #IMPLIED
    semanticPredicateId IDREF #IMPLIED
    senseId IDREF #IMPLIED>
<!--
label	http://www.isocat.org/datcat/DC-1857
type	http://www.isocat.org/datcat/DC-1971
quantification	http://www.isocat.org/datcat/DC-2211
-->







<!--
monolingualSenseAlignment	http://www.isocat.org/datcat/DC-4627
crosslingualSenseAlignment	http://www.isocat.org/datcat/DC-4628
definedMeaning	http://www.isocat.org/datcat/DC-4629
--> 

